# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables and credentials
.env
kaggle.json

# Large datasets
data/raw/*
data/processed/*
data/external/*

# Keep empty data folders in Git
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Saved models
*.pkl
*.joblib

# Databases
*.db
*.sqlite
*.sqlite3

# Operating system
.DS_Store
Thumbs.db